* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.conteiner {
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 769px) {
  .conteiner {
    padding: 0px;
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1170px;
  }
}
header {
  overflow: hidden;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.main_logo {
  font-family: "Raleway", sans-serif;
  color: #212121;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.main_logo span {
  color: #2196F3;
}

nav {
  position: absolute;
  top: -445px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: #fff;
  width: 184%;
  left: -42%;
  border-top: 1px solid #ECECEC;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 10;
  color: #212121;
  padding: 50px 0px;
  z-index: 100;
}
nav.active {
  top: 60px;
}

.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.nav_menu .nav_item {
  list-style-type: none;
  margin: 20px 0px;
}
.nav_menu .nav_item .nav_item_link {
  font-weight: 500;
  font-size: 18px;
  color: #212121;
  text-decoration: none;
  padding: 8px 0px;
  position: relative;
}
.nav_menu .nav_item .nav_item_link:hover, .nav_menu .nav_item .nav_item_link:focus, .nav_menu .nav_item .nav_item_link:active {
  color: #2196F3;
}
.nav_menu .nav_item .nav_item_link:hover::after, .nav_menu .nav_item .nav_item_link:focus::after, .nav_menu .nav_item .nav_item_link:active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  background: #2196F3;
}

.nav_info {
  text-align: center;
  margin-top: 60px;
}
.nav_info a {
  font-size: 18px;
  display: block;
  text-decoration: none;
  color: #757575;
  margin-bottom: 16px;
}
.nav_info a img {
  padding-right: 10px;
}

.ham_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 20px 7px;
  cursor: pointer;
}
.ham_menu .ham_menu_line {
  display: block;
  width: 24px;
  height: 3px;
  margin-bottom: 4px;
  background: #2196F3;
}

.ham_menu.active .ham_menu_line {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.ham_menu.active .ham_menu_line:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}
.ham_menu.active .ham_menu_line:nth-child(2) {
  opacity: 0;
}
.ham_menu.active .ham_menu_line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

.header_cont {
  background-image: url(./img/header_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header_cont_main {
  padding: 118px 60px 100px;
  color: #fff;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  height: 400px;
}
.header_cont_main h2 {
  font-size: 26px;
  text-transform: uppercase;
  line-height: 42px;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.header_cont_main h2._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.button {
  padding: 10px 32px;
  color: #fff;
  background: #2196F3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.button:hover, .button:focus, .button:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav_info_big {
  display: none;
}

@media screen and (min-width: 769px) {
  .header_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 20px 15px 0px 15px;
  }

  .nav_info {
    display: none;
  }

  .nav_info_big {
    display: block;
    width: 30%;
  }
  .nav_info_big a {
    font-size: 12px;
    display: block;
    text-decoration: none;
    color: #757575;
    margin-bottom: 8px;
  }
  .nav_info_big a img {
    padding-right: 6px;
  }

  .main_logo {
    width: 30%;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: static;
    width: 60%;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0px 0px;
    border-top: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #212121;
  }

  .nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-right: 10%;
  }
  .nav_menu .nav_item {
    list-style-type: none;
    margin-bottom: 0px;
    margin: 0px 25px;
  }
  .nav_menu .nav_item .nav_item_link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    text-decoration: none;
    padding: 27px 0px;
  }
  .nav_menu .nav_item .nav_item_link:hover, .nav_menu .nav_item .nav_item_link:focus, .nav_menu .nav_item .nav_item_link:active {
    color: #2196F3;
  }
  .nav_menu .nav_item .nav_item_link:hover::after, .nav_menu .nav_item .nav_item_link:focus::after, .nav_menu .nav_item .nav_item_link:active::after {
    top: 67px;
  }

  .ham_menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header_cont_main {
    height: 600px;
    padding: 230px 60px;
  }

  .main_logo {
    width: 18%;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .nav_info_big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 25%;
  }
}
.about {
  margin: 60px 0px 60px;
}

.about_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about_box {
  padding: 0px 8px 30px;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.about_box._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.about_box .about_box_img {
  background: #F5F4FA;
  border-radius: 4px;
  padding: 25px 0px;
  text-align: center;
}
.about_box h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin: 30px 0px 10px;
  text-align: center;
}
.about_box p {
  font-size: 14px;
  color: #757575;
  line-height: 24px;
}

@media screen and (min-width: 769px) {
  .about_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about_cont_block {
    width: 50%;
  }

  .about_box {
    height: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .about_cont_block {
    width: 25%;
  }
}
.team {
  background: #F5F4FA;
  padding: 60px 0px;
}

.team_cont h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 30px;
}

.team_cont_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team_box {
  text-align: center;
  width: 100%;
  padding-bottom: 24px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
}
.team_box._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.team_box .team_box_img {
  width: 100%;
}
.team_box h3 {
  font-weight: 500;
  font-size: 16px;
  margin: 30px 0px 10px;
}
.team_box span {
  font-size: 16px;
  color: #757575;
}
.team_box .team_social {
  margin: 28px;
}
.team_box .team_social a {
  padding: 4px;
}

@media screen and (min-width: 769px) {
  .team_box {
    width: 49%;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .team_box:hover, .team_box:focus, .team_box:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media screen and (min-width: 1200px) {
  .team_box {
    width: 24%;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .team_box:hover, .team_box:focus, .team_box:active {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
}
.clients {
  padding: 60px 0px;
}

.clients_cont h2 {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}

.clients_cont_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients_box {
  width: 40%;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
}
.clients_box:hover {
  background: #ECECEC;
}
.clients_box a {
  display: block;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .clients_box {
    width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .clients_box {
    width: 15%;
  }
}
footer {
  background: #2F303A;
  color: #fff;
  padding: 60px 0px;
}

.footer_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.footer_contact .main_logo_footer {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  text-decoration: none;
}
.footer_contact .main_logo_footer span {
  color: #2196F3;
}
.footer_contact .footer_contact_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer_contact .footer_contact_main span {
  font-weight: normal;
  font-size: 14px;
}
.footer_contact .footer_contact_main a {
  text-decoration: none;
  color: #AFB1B8;
  font-size: 14px;
  margin-top: 10px;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  width: 100%;
}
.footer_social h3 {
  text-transform: uppercase;
  font-size: 14px;
}
.footer_social .footer_social_item {
  margin-top: 20px;
}
.footer_social .footer_social_item a {
  background: #212121;
  display: inline-block;
  border-radius: 25px;
  min-width: 40px;
  min-height: 40px;
  position: relative;
  margin: 5px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.footer_social .footer_social_item a:hover, .footer_social .footer_social_item a:focus, .footer_social .footer_social_item a:active {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.footer_social .footer_social_item a img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer_spam {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.footer_spam h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
}
.footer_spam .footer_spam_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.footer_spam .footer_spam_item input {
  width: 100%;
  height: 50px;
  background: inherit;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  padding: 15px;
  font-size: 16px;
}
.footer_spam .footer_spam_item input:focus, .footer_spam .footer_spam_item input:hover, .footer_spam .footer_spam_item input:active {
  outline: none;
  border: 1px solid #2196F3;
}
.footer_spam .footer_spam_item button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #2196F3;
  border: none;
  border-radius: 4px;
  padding: 10px 29px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.footer_spam .footer_spam_item button:hover, .footer_spam .footer_spam_item button:focus, .footer_spam .footer_spam_item button:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.footer_spam .footer_spam_item button img {
  padding-left: 10px;
}

@media screen and (min-width: 769px) {
  .footer_contact {
    width: 50%;
  }

  .footer_social {
    width: 50%;
    margin-top: 0px;
  }

  .footer_spam .footer_spam_item input {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .footer_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 25%;
  }
  .footer_contact .footer_contact_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer_social {
    width: 25%;
  }

  .footer_spam {
    margin-top: 0px;
    width: 50%;
  }
}
.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding: 60px 0px 94px;
  }

  .work_cont_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    opacity: 0;
    -webkit-transform: translate(0px, 60%);
            transform: translate(0px, 60%);
    -webkit-transition: all 1.3s ease;
    transition: all 1.3s ease;
  }
  .work_cont_block._active {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .work_cont h2 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
  }

  .work_box {
    width: 32%;
    margin: 3px;
    position: relative;
    cursor: pointer;
  }
  .work_box img {
    max-width: 100%;
  }
  .work_box:hover, .work_box:focus, .work_box:active {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .work_box p {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 27px;
  }
}