$color_spec: #2196F3;
$color_main_text: #212121;
$colot_text_first: #757575;
$colot_text_second: #ECECEC;
$colot_text_third: #fff;
$colot_text_fourth: #AFB1B8;
$color_bg_first: #F5F4FA;
$color_bg_second: #2F303A;

$pc: 1200px;
$notebook: 769px;
$mobile: 480px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.conteiner {
    padding: 0px 15px;
}

@media screen and (min-width: $mobile) {
    .conteiner {
        width: 450px;
        margin: 0 auto;
    }
}

@media screen and (min-width: $notebook) {
    .conteiner {
        padding: 0px;
        width: 738px;
    }
  }

@media screen and (min-width: $pc) {
    .conteiner {
        width: 1170px;
    }
  }

    
@mixin flex ($fd, $jc, $ai, $fw){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $fw;
}