header {
    overflow: hidden;
}

.header_top {
    @include flex (row, space-between, center, nowrap);
    position: relative;
}

.main_logo {
    font-family: 'Raleway', sans-serif;
    color: $color_main_text;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    span {
        color: $color_spec;
    }
}

nav {
    position: absolute;
    top: -445px;
    transition: all .5s ease-out;
    background: #fff;
    width: 184%;
    left: -42%;
    border-top: 1px solid $colot_text_second;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 10;
    color: $color_main_text;
    padding: 50px 0px;
    z-index: 100;
    &.active {
        top: 60px;
        }
    }

.nav_menu{
    @include flex (column, center, center, nowrap);
    .nav_item{
        list-style-type: none;
        margin: 20px 0px;
        .nav_item_link {
            font-weight: 500;
            font-size: 18px;
            color: $color_main_text;
            text-decoration: none;
            padding: 8px 0px;
            position: relative;
            &:hover,
            &:focus,
            &:active {
                color: $color_spec;
                 &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 3px;
                    border-radius: 4px;
                    position: absolute;
                    top: 40px;
                    left: 0;
                    background: $color_spec;
                }
            }
        }
    }       
}

.nav_info {
    text-align: center;
    margin-top: 60px;
    a {
        font-size: 18px;
        display: block;
        text-decoration: none;
        color: $colot_text_first;
        margin-bottom: 16px;
        img {
            padding-right: 10px;
        }
    }
}

.ham_menu {
    @include flex (column, flex-start, flex-end, nowrap);
    margin: 20px 7px;
    cursor: pointer;
    .ham_menu_line { 
        display: block;
        width: 24px;
        height: 3px;
        margin-bottom: 4px;
        background: $color_spec;
    }
}

.ham_menu  {
    &.active{
        & .ham_menu_line {
            transition: all .4s ease-in-out;
            &:nth-child(1) {
                transform: translateY(7px) rotate(45deg);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: translateY(-7px) rotate(-45deg);
            }
        }
    }
}
       
.header_cont {
    background-image: url(./img/header_bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header_cont_main {
    padding: 118px 60px 100px;
    color: $colot_text_third;
    text-align: center;
    background: rgba(47, 48, 58, 0.8);
    height: 400px;
    h2 {
        font-size: 26px;
        text-transform: uppercase;
        line-height: 42px;
        margin-bottom: 30px;
        opacity: 0;
        transform: translate(0px, 50%);
        transition: all 1s ease;
        &._active {
            opacity: 1;
            transform: translate(0px, 0px);
       }
    }
}

.button {
    padding: 10px 32px;
    color: $colot_text_third;
    background: $color_spec;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: all .4s ease-out;
    &:hover,
    &:focus,
    &:active {
        transform: scale(1.2);
    }
}

.nav_info_big {
    display: none;
}

@media screen and (min-width:$notebook) {
    .header_top {
        @include flex (row, space-between, center, nowrap);
        padding: 20px 15px 0px 15px;
    }

    .nav_info {
        display: none;
    }

    .nav_info_big {
        display: block;
        width: 30%;
        a {
            font-size: 12px;
            display: block;
            text-decoration: none;
            color: $colot_text_first;
            margin-bottom: 8px;
            img {
                padding-right: 6px;
            }
        }
    }

    .main_logo {
        width: 30%;
    }

    nav {
        @include flex (row, center, center, nowrap);
        position: static;
        width: 60%;
        top: 0;
        left: 0;
        overflow: hidden;
        padding: 0px 0px;
        border-top: none;
        box-shadow: none;
        color: $color_main_text;
    }
    
    .nav_menu{
        @include flex (row, space-between, center, nowrap);
        margin-right: 10%;
        .nav_item{
            list-style-type: none;
            margin-bottom: 0px;
            margin: 0px 25px;
            .nav_item_link {
                display: inline-block;
                font-weight: 500;
                font-size: 14px;
                color: $color_main_text;
                text-decoration: none;
                padding: 27px 0px;
                &:hover,
                &:focus,
                &:active {
                    color: $color_spec;
                     &::after {
                        top: 67px;
                    }
                } 
            }
        }       
    }
    
    .ham_menu {
        display: none;
    }
}

@media screen and (min-width: $pc){
    .header_cont_main {
        height: 600px;
        padding: 230px 60px;
    }

    .main_logo {
        width: 18%;
    }

    nav {
        @include flex (row, flex-start, center, nowrap);
    }

    .nav_menu{
        @include flex (row, flex-start, center, nowrap);
    }

    .nav_info_big {
        @include flex (row, space-between, center, nowrap);
        width: 25%;
    }
}