.work {
    display: none;
}

@media screen and (min-width:$pc) {
    .work {
        display: block;
        padding: 60px 0px 94px;
    }
    
    .work_cont_block {
        @include flex (row, space-between, center, wrap);
        opacity: 0;
        transform: translate(0px, 60%);
        transition: all 1.3s ease;
        &._active {
            opacity: 1;
            transform: translate(0px, 0px);
       }
    }
    
    .work_cont {
        h2 {
            font-weight: bold;
            font-size: 36px;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    
    .work_box {
        width: 32%;
        margin: 3px; 
        position: relative;   
        cursor: pointer;
        img {
            max-width: 100%;
        }
        &:hover,
        &:focus,
        &:active{
            filter: grayscale(100%);
        }
        p {
            position: absolute;
            bottom: 4px;
            left: 0;
            width: 100%;
            height: 70px;
            background: rgba(47, 48, 58, 0.8);
            font-weight: bold;
            font-size: 14px;
            color: $colot_text_third;
            text-transform: uppercase;
            text-align: center;
            padding: 27px;
        }
    }
}
